DATABASE_URL="postgresql://labplan:labplan@127.0.0.1:5432/labplan_db"
POSTGRES_USER=labplan
POSTGRES_PASSWORD=labplan
POSTGRES_DB=labplan_db
POSTGRES_PORT=5432

NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

SEED_ADMIN_LOGIN="admin"
SEED_ADMIN_NAME="Administrador"
SEED_ADMIN_PASSWORD=""
